*, *:before, *:after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  body, html {
    background-color: #f3f3f3;
  }
}

@media (prefers-color-scheme: dark) {
  body, html {
    background-color: #232323;
  }
}
